<!DOCTYPE html>
<html>
<head>
  <title>Lab2Engine</title>
  <%= stylesheet_link_tag    "lab2_engine/application", media: "all" %>
  <%= javascript_include_tag "lab2_engine/application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "scaffold" %>
</head>
<body>

<%= yield %>

</body>
</html>
